{% extends "base.html" %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Welcome to my page!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium provident repellat explicabo error? Rerum eum aut minima alias consequuntur facilis, vitae molestias! Quod rerum voluptatem explicabo modi quos asperiores quia nostrum facere quam ipsum animi cupiditate provident accusantium impedit repellendus obcaecati non veniam consequuntur expedita eligendi beatae, accusamus, dolorum blanditiis. Quo commodi ea sint ad ullam explicabo ratione modi repellendus. Quia molestiae adipisci reprehenderit? Ipsa dicta ullam reprehenderit similique consectetur minima. Iste blanditiis molestias temporibus quasi repudiandae reprehenderit qui provident vero! Soluta inventore maxime laudantium tempore rem cum ipsum tempora, quaerat magni accusamus laboriosam numquam sed nesciunt, aperiam at doloribus!</p>
    </section>
</main>
    
{% endblock content %}
    
